body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2.6em;
}

section {
    margin: auto;
    width: 500px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    border-radius: 5px ;
    padding: 20px;
}
   
section p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

section div#img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
}

footer {
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}
